/* css variables */

:root {
  --base-unit: 0.5rem;
  --line-height-base-unit: 1;
  --letter-spacing-base-unit: 0.0025em;
  --dark: #000;
  --dark-200: #202124;
  --dark-100: #2B2F39;
  --gray: #5D6067;
  --gray-200: #9499A6;
  --gray-100: #FAFAFA;
  --blue: #2A8CFF;
  --white: #FFF;
  --font-family-primary: 'Barlow', system-ui, sans-serif;
  --font-size-10: calc(var(--base-unit) * 1.25);
  --font-size-14: calc(var(--base-unit) * 1.75);
  --font-size-16: calc(var(--base-unit) * 2);
  --font-size-18: calc(var(--base-unit) * 2.25);
  --line-height-sm: calc(var(--line-height-base-unit) * 1.1111);
  --line-height-md: calc(var(--line-height-base-unit) * 1.1428);
  --line-height-lg: calc(var(--line-height-base-unit) * 1.2857);
  --letter-spacing-sm: calc(var(--line-height-base-unit) * 1);
  --border-radius-sm: 0.375em;
}

/* animation */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* desktop specific */

@media not (hover: none) {
  .header__logo,
  .pagination__btn,
  .search-form__btn,
  .more,
  .video-details__btn {
    transition: transform 0.2s ease;
  }

  .header__logo:hover,
  .pagination__btn:hover,
  .more:hover,
  .video-details__btn:hover {
    transform: translateY(-4px);
  }

  .search-form__btn:hover {
    transform: translateY(-12px);
  }
}

/* general styling */

body {
  font-family: var(--font-family-primary);
  background-color: var(--gray-100);
  color: var(--dark-100);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.wrapper,
.video-details {
  max-width: 56.25em;
  margin: 0 auto;
}

.wrapper.no-scroll {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  right: 0;
}

.header {
  padding: 1.25em;
}

.header__logo {
  font-weight: 600;
  width: max-content;
  font-size: var(--font-size-18);
  line-height: var(--line-height-md);
}

.header__logo a {
  display: flex;
  text-decoration: none;
  gap: 0.4444em;
}

.content {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1em;
  padding: 0.625em 0.625em 1.5em;
}

.content__results {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.search-form {
  position: relative;
}

.search-form__field {
  width: 100%;
  background-color: var(--white);
  padding: 0 1em;
  border: none;
  font-size: var(--font-size-16);
  height: 3em;
  border-radius: var(--border-radius-sm);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--dark-100);
}

.search-form__field::placeholder {
  font-size: inherit;
  color: var(--gray-200);
}

.search-form__field::placeholder {
  font-size: inherit;
  color: var(--gray-200);
}

.search-form__btn {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 50%;
  right: 1em;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 100%;
}

.placeholder__title {
  font-size: var(--font-size-14);
  color: var(--gray-200);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
}

.placeholder__loading svg {
  animation: rotate 2s linear infinite;
}

.placeholder__loading circle {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.videos-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}

.video {
  display: flex;
  padding: 0.5em;
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  gap: 1em;
  cursor: pointer;
}

.video__thumb-container {
  position: relative;
  height: max-content;
}

.video__duration {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  padding: 0.5em;
  font-weight: 600;
  background-color: var(--dark);
  font-size: var(--font-size-10);
  line-height: 1.2em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--white);
  border-radius: 2px;
}

.video__img {
  min-width: 8.25em;
  height: 4.625em;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.video__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.video__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.video__title {
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--dark-100);
}

.video__channel {
  font-size: var(--font-size-10);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--gray-200);
}

.video__title,
.video__channel {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video__info {
  font-size: var(--font-size-10);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--gray);
  display: flex;
  justify-content: space-between;
}

.video__host {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.pagination {
  display: flex;
  padding: 0.5em 1.75em;
  margin-top: 0.75em;
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  align-items: center;
  justify-content: center;
}

.pagination--prev {
  justify-content: space-between;
}

.pagination__btn {
  padding: 0.5714em;
  border-radius: var(--border-radius-sm);
  display: flex;
  gap: 0.2857em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--dark-100);
}

.pagination__count {
  font-size: var(--font-size-14);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--gray);
}

.pagination__btn--prev > svg {
  transform: scaleX(-1);
}

.more {
  display: flex;
  gap: 0.5714em;
  padding: 0.7142em 2.8571em;
  font-size: var(--font-size-14);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--blue);
  width: max-content;
  background-color: var(--white);
  border-radius: 7.14em;
  margin: 0.5em auto 0;
}

.more__link {
  text-decoration: none;
}

.more__query {
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-200);
  display: flex;
}

.video-details {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}

.video-details__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.video-details__embed {
  aspect-ratio: 16/9;
}

.video-details__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 1.5em;
}

.video-details__title {
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--white);
}

.video-details__info {
  display: flex;
  gap: 0.625em;
  color: var(--gray-200);
  font-size: var(--font-size-14);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
}

.video-details__channel {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.video-details__actions {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.video-details__btn {
  padding: 0 1.625em;
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: 2.4285em;
  height: 2.4285em;
  border-radius: 7.1428em;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--white);
  cursor: pointer;
}

.video-details__btn--primary {
  background-color: var(--blue);
}

.video-details__btn--secondary {
  background-color: var(--gray);
}

/* media queries */

@media screen and (min-width: 40em) {
  .videos-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(22.5em, 1fr));
  }
}
