:root {
  --base-unit: 0.5rem;
  --line-height-base-unit: 1;
  --letter-spacing-base-unit: 0.0025em;
  --dark: #000;
  --dark-200: #202124;
  --dark-100: #2B2F39;
  --gray: #5D6067;
  --gray-200: #9499A6;
  --gray-100: #FAFAFA;
  --blue: #2A8CFF;
  --white: #FFF;
  --font-family-primary: 'Barlow', system-ui, sans-serif;
  --font-size-10: calc(var(--base-unit) * 1.25);
  --font-size-14: calc(var(--base-unit) * 1.75);
  --font-size-16: calc(var(--base-unit) * 2);
  --font-size-18: calc(var(--base-unit) * 2.25);
  --line-height-sm: calc(var(--line-height-base-unit) * 1.1111);
  --line-height-md: calc(var(--line-height-base-unit) * 1.1428);
  --line-height-lg: calc(var(--line-height-base-unit) * 1.2857);
  --letter-spacing-sm: calc(var(--line-height-base-unit) * 1);
  --border-radius-sm: 0.375em;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--gray-100);
  color: var(--dark-100);
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  padding: 1.25em;
}

.header__logo {
  font-weight: 600;
  font-size: var(--font-size-18);
  line-height: var(--line-height-md);
}

.header__logo a {
  display: flex;
  width: max-content;
  text-decoration: none;
  gap: 0.4444em;
}

.content {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 1em;
  padding: 0.625em;
}

.content__results {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.search-form {
  position: relative;
}

.search-form__field {
  width: 100%;
  background-color: var(--white);
  padding: 0 1em;
  border: none;
  font-size: var(--font-size-16);
  height: 3em;
  border-radius: var(--border-radius-sm);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--dark-100);
}

.search-form__field::placeholder {
  font-size: inherit;
  color: var(--gray-200);
}

.search-form__field::placeholder {
  font-size: inherit;
  color: var(--gray-200);
}

.search-form__btn {
  position: absolute;
  display: flex;
  cursor: pointer;
  top: 50%;
  right: 1em;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  height: 100%;
}

.placeholder__title {
  font-size: var(--font-size-14);
  color: var(--gray-200);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.placeholder__loading svg {
  animation: rotate 2s linear infinite;
}

.placeholder__loading circle {
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.video {
  display: flex;
  padding: 0.5em;
  background-color: var(--white);
  border-radius: var(--border-radius-sm);
  gap: 1em;
}

.video__thumb-container {
  position: relative;
  height: max-content;
}

.video__duration {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  padding: 0.5em;
  font-weight: 600;
  background-color: var(--dark);
  font-size: var(--font-size-10);
  line-height: 1.2em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--white);
  border-radius: 2px;
}

.video__img {
  min-width: 8.25em;
  height: 4.625em;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}

.video__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.video__title {
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: var(--line-height-md);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--dark-100);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video__channel {
  font-size: var(--font-size-10);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--gray-200);
}

.video__info {
  font-size: var(--font-size-10);
  line-height: 1em;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--gray);
  display: flex;
  justify-content: space-between;
}

.video__host {
  display: flex;
  gap: 0.25em;
  align-items: center;
  text-transform: capitalize;
}
